body {
    width: 80%;
    margin: auto;
}

header {
    background-color: rgb(245, 38, 193);
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prima {
    background-color: gold;
    width: 100%;
    height: 380px;
    margin-bottom: 20px;
}

.seconda {
    background-color: blue;
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.fakeheader {
    background-color: rgb(20, 247, 228);
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
}